In [2]:
import pandas as pd

In [42]:
tables = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M',header=0)
#Appending Similar Neighbourhoods
tb = tables[0].groupby(['Postcode','Borough'])['Neighbourhood'].apply(','.join)
t2=pd.DataFrame(tb)
#Dropping Not Assigned Neighbourhoods
t3=t2.reset_index()
t3=t3[t3.Borough != 'Not assigned']
t3 = t3.sort_values(by=['Postcode','Borough'])
t3.reset_index(inplace=True)
t3.drop('index',axis=1,inplace=True)
#Number of rows
t3.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [77]:
tables2 = pd.read_csv('https://cocl.us/Geospatial_data',header=0)
tables2.drop('Postal Code',axis=1,inplace=True)
tab3 = t3.join(tables2)
tab3.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476